*.log
*.out
*.err
**/.idea
**/.vscode
**/.settings
**/.project
**/.classpath
**/.factorypath
**/target
.DS_Store
Thumbs.db
.git
.gitignore
*.swp
*.tmp
*.bak
*.old
**/node_modules
**/dist
**/.gradle
**/.mvn
.mvn/wrapper/maven-wrapper.jar
!pom.xml
!src/
